<h1>da burger</h1>


{{!-- get route part of layout to display all --}}
{{!-- each refers to the data we are sending from burgers table --}}
<h2>Burgers to Eat!</h2>
<ul>
  {{#each burgers}} 
  {{#unless this.devoured}}
    <li>
      <p>{{this.burger_name}}</p>
      {{!-- <p>{{this.id}}</p> --}}
      <button type="submit" class="eat-da-burger" data-id={{this.id}} >Eat da burger</button>  
      {{!-- //this.id, pulls in the id of the burger --}}
    </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>
<ul>
  {{#each burgers}}
  {{#if this.devoured}}
    <li>
      <p>{{this.burger_name}}</p>
    </li>
  {{/if}}
  {{/each}}
</ul>


<div>
  {{!-- <form action"/burgers" method="POST"> --}}
    <textarea id="newBurgerName" type ="text" name="burger"></textarea>
    <button id="newBurgerButton" type="submit">Create New Burger</button>
  {{!-- </form> --}}
</div>
